<div class="wrap cf">
    <section>
        <figure class="fig-info">
            <img alt="" id="Jlogo"><p><span class="fig-info-tit" id="Jname"></span><span id="Jpub"></span><span class="ico-tag" id="Jtype"></span></p>
        </figure>
        <div class="cf">
            <div class="col col-5">
                <div class="slider" id="Jslider"></div>
                <div class="cp">
                    <div class="cp-ibvm score" id="Jscore"></div>
                    <div class="cp-ibvm star">
                        <p class="ico-star"><span class="ico-star-cover" id="Jstar"></span></p>
                        <p class="star-pl" id="Jpl"></p>
                    </div>
                    <div class="cp-ibvm ico-dl"><span>Download</span> volume</div>
                    <div class="cp-ibvm dl" id="Jdl"></div>
                </div>
            </div>
            <div class="col col-7">
                <div class="txt" id="Jtxt"></div>
            </div>
        </div>
    </section>
</div>