<div class="wrap cf">
    <section>
        <figure class="sel" id="Jsel">
            <div class="sel-tog" id="JselTog">
                <div class="sel-txt" id="JselTxt"></div>
                <button class="sel-btn"></button>
                <img alt="" id="JselFlag">
            </div>
            <div class="sel-cont">
                <ul class="sel-list" id="JselList"></ul>
            </div>
        </figure>
        <div class="cf">
            <div class="col col-6">
                <p class="type-app ico-ios">IOS</p>
                <dl class="dl-app" id="JappIos1"></dl>
                <dl class="dl-app dl-app-bdr" id="JappIos2"></dl>
            </div>
            <div class="col col-6">
                <div class="side-r">
                    <p class="type-app ico-adr">ANDROID</p>
                    <dl class="dl-app" id="JappAdr1"></dl>
                    <dl class="dl-app" id="JappAdr2"></dl>
                </div>
            </div>
        </div>
    </section>
</div>