<div id="warpper">
<div id="main"></div>
<div id="main-popup">
    <div class="clearfix content">
    <div class="left"><div id="svg-area"></div></div>
    <div class="right">
        <h2><i></i></h2>
        <p class="capital" style="margin-top:8px">
            <label>CAPITAL:</label>
            <span></span>
        </p>
        <p class="gdp">
            <label>GDP:</label>
            <span></span>
        </p>
        <p class="population">
            <label>POPULATION:</label>
            <span></span>
            <em></em>
        </p>
        <p class="impression">
            <label>IMPRESSION:</label>
            <span></span>
        </p>
        <p class="click">
            <label>CLICK:</label>
            <span></span>
        </p>
        <p class="top5">
            <label>TOP 5 ADVERTISER:</label>
        </p>
        <p class="imgarea"></p>
    </div>
    </div>
</div>
</div>


