<div class="advertiserTop5">
	<h2>TOP5 ADVERTISER - DAILY (UNIT K)</h2>
	<ul class="clearfix">
		<li class="item" style="width:20%;height:100%">
			<div id="main1" style="height:70%;width:100%;margin:auto"></div>			
			<div id="iconarea1" class="iconArea" ></div>		
		</li>
		<li class="item" style="width:20%;height:100%">
			<div id="main2" style="height:70%;width:100%;margin:auto"></div>			
			<div id="iconarea2" class="iconArea" ></div>		
		</li>
		<li class="item" style="width:20%;height:100%">
			<div id="main3" style="height:70%;width:100%;margin:auto"></div>			
			<div id="iconarea3" class="iconArea" ></div>		
		</li>
		<li class="item" style="width:20%;height:100%">
			<div id="main4" style="height:70%;width:100%;margin:auto"></div>			
			<div id="iconarea4" class="iconArea" ></div>		
		</li>
		<li class="item" style="width:20%;height:100%">
			<div id="main5" style="height:70%;width:100%;margin:auto"></div>			
			<div id="iconarea5" class="iconArea" ></div>		
		</li>
	</ul>
</div>