html{font-family:"myFirstFont";overflow: hidden;}
@font-face{
font-family: "myFirstFont";
src: url('../fonts/HELVETICA.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HELVETICA.woff') format('woff'),       
       url('../fonts/HELVETICA.ttf')  format('truetype'),
       url('../fonts/HELVETICA.svg#svgFontName') format('svg'); 
}


@font-face{
font-family: "myFirstFontBold";
src: url('../fonts/HELVETICABOLD.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HELVETICABOLD.woff') format('woff'),       
       url('../fonts/HELVETICABOLD.ttf')  format('truetype'),
       url('../fonts/HELVETICABOLD.svg#svgFontName') format('svg'); 
}


.dateArea{
	position: absolute;
	left: 40px;
	top: 40px;
	color:#01dbff;
	font-size: 20px;
	font-weight: bold;
	font-family:"myFirstFontBold";
	& h1{color:#fff;margin:0;padding:0;font-size:20px;text-indent: 9999px;background: url('../images/logo.svg') no-repeat;}
	
	& p{
		font-weight: bold;
		position: relative;
		margin: 0;padding:0; 
		padding:8px 0px;
		margin:16px 0 8px 0;
		border-top:#01dbff solid 1px;
		border-bottom:#01dbff solid 1px;
		display:inline-block;
		font-weight: 800;
		font-family:"myFirstFontBold";
	}
	& .mouth{font-weight: 800;font-family:"myFirstFontBold";}
	& .year{text-align:justify;font-weight: 800;font-family:"myFirstFontBold";
}
}
