.total{
	position: absolute;
    left:26px;
    bottom:40px;
    color: #01dbff;
    font-size: 20px;
    & dl{margin-top:16px;}
	& .lab{
		font-size:12px;font-weight:200;color:#fff;padding: 0px 0 8px 0;

	}
	& .lab::before{
		content: "";
	    color: #01dbff;
	    margin-right: 8px;
	    vertical-align: top;
	    width: 0;
	    height: 0;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 7px solid #01dbff;	    
	    display: inline-block;
	}
	& .val{
		display:inline-block;
		height:30px;
		margin-left:16px;

		& b{
			background:url(../images/numbers2.png) no-repeat 0 -398px;
			/*background-size:cover; */
			display:inline-block;
			float:left;
			height:30px;
			width:10px;
		}
		& i{background:url(../images/numbers2.png) no-repeat;
			/*background-size:cover; */
			display:inline-block;
			float:left;
			height:30px;
			width:18px;
		}

	}
}
.chartArea{
	position: absolute;
	top:40px;
	bottom: 40px;
	right: 40px;
	width: 300px;
}
