<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="wrapper">
                
    <div class="worldMap">
        <div id="mapdiv" style="height:100%">
<!--             <iframe id="worldMapIframe" scrolling="no" style="width:100%;height:100%;border:0;margin:0;padding:0;" src=""></iframe> -->
         <div id="warpper">
        <div id="main"></div>
        <div id="main-popup">
            <div class="clearfix content">
            <div class="left"><div id="svg-area"></div></div>
            <div class="right">
                <h2><i></i></h2>
                <p class="capital" style="margin-top:8px">
                    <label>CAPITAL:</label>
                    <span></span>
                </p>
                <p class="gdp">
                    <label>GDP:</label>
                    <span></span>
                </p>
                <p class="population">
                    <label>POPULATION:</label>
                    <span></span>
                    <em></em>
                </p>
                <p class="impression">
                    <label>IMPRESSION:</label>
                    <span></span>
                </p>
                <p class="click">
                    <label>CLICK:</label>
                    <span></span>
                </p>
                <p class="top5">
                    <label>TOP 5 ADVERTISER:</label>
                </p>
                <p class="imgarea"></p>
            </div>
            </div>
        </div>
        </div>

        </div>
    </div>

    <div class="dateArea">
        <div class="logo"></div>    
        <p id="clockid"></p><br>
        <div class="day">
            <div class="mouth num"></div>
            <div class="year num"></div>
        </div>
    </div>

    <div class="totalArea">
        <dl class="click">
            <dt class="lab">TOTAL CLICKS, DAILY</dt>
            <dt class="val" id="val1"></dt>
        </dl>
        <dl class="impression">
            <dt class="lab">TOTAL IMPRESSION, DAILY</dt>
            <dt class="val" id="val2"></dt>
        </dl>
        <dl class="coverage">
            <dt class="lab">DEVICES COVERAGE SO FAR</dt>
            <dt class="val" id="val3"></dt>
        </dl>
    </div>

    <div class="chartArea">
        <div class="advertiserTop5">
            <h2>TOP5 ADVERTISER - DAILY (UNIT K)</h2>
            <div class="adv_content" style="width:100%;height:0.5rem"></div>
            <ul class="clearfix">
                <li class="item" style="width:20%;height:100%">
                    <div id="main1" style="height:70%;width:100%;margin:auto"></div>            
                    <div id="iconarea1" class="iconArea" ></div>        
                </li>
                <li class="item" style="width:20%;height:100%">
                    <div id="main2" style="height:70%;width:100%;margin:auto"></div>            
                    <div id="iconarea2" class="iconArea" ></div>        
                </li>
                <li class="item" style="width:20%;height:100%">
                    <div id="main3" style="height:70%;width:100%;margin:auto"></div>            
                    <div id="iconarea3" class="iconArea" ></div>        
                </li>
                <li class="item" style="width:20%;height:100%">
                    <div id="main4" style="height:70%;width:100%;margin:auto"></div>            
                    <div id="iconarea4" class="iconArea" ></div>        
                </li>
                <li class="item" style="width:20%;height:100%">
                    <div id="main5" style="height:70%;width:100%;margin:auto"></div>            
                    <div id="iconarea5" class="iconArea" ></div>        
                </li>
            </ul>

        </div>

        <div class="impressionTop5">
            <h2>TODAY IMPRESSION TOP5 (UNIT M)</h2> 
            <div id="impressionDiv"></div>
            <div class="impressionImgArea"></div>
        </div>

        
    </div>

    <div class="rollingNewsArea">
        <div class="content">
        <div class="newsTitleList">
          <div class="newswarp" style="width:auto"></div>
         </div>
        </div>
    </div>

    </div>

        </div>
        <!-- <div class="swiper-slide">
            <iframe  scrolling="no" style="width:100%;height:100%;border:0;margin:0;padding:0;" src="./company.html"></iframe>
        </div>
        <div class="swiper-slide">            
        <iframe  scrolling="no" style="width:100%;height:100%;border:0;margin:0;padding:0;" src="./app.html"></iframe>
        </div>
        <div class="swiper-slide">
            <iframe  scrolling="no" style="width:100%;height:100%;border:0;margin:0;padding:0;" src="./ranking.html"></iframe>
        </div> -->
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- Add Arrows -->
   <!--  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
</div>


